### Pandas 입문 (1) 

32200185 곽다은

* 1-1 시리즈 만들기

In [1]:
import pandas as pd

dict_data = {'a' : 1, 'b' : 2, 'c' : 3}

sr = pd.Series(dict_data)

print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int64

* 1-2

In [4]:
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)
print("")

idx = sr.index
val = sr.values
print(idx)
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

RangeIndex(start=0, stop=5, step=1)
['2019-01-02' 3.14 'ABC' 100 True]

* 1-3

In [12]:
tup_data = ('다은', '2000-04-26', '여', True)
sr = pd.Series(tup_data, index = ['이름', '생년월일', '성별','학생여부'])
# 데이터의 개수와 index개수가 일치해야함 (4=4)
print(sr)
print("")

# 원소 1개 선택
print(sr[0])
print(sr['이름'])
print("")

# 여러 개의 원소 선택 -> 리스트 형태로 묶어야 함
print(sr[[1,2]])
print(sr[['생년월일', '성별']])
print("")

# 슬라이싱으로 인덱스 범위 지정
print(sr[1 : 2])
print(sr['생년월일' : '성별'])

이름              다은
생년월일    2000-04-26
성별               여
학생여부          True
dtype: object

다은
다은

생년월일    2000-04-26
성별               여
dtype: object
생년월일    2000-04-26
성별               여
dtype: object

생년월일    2000-04-26
dtype: object
생년월일    2000-04-26
성별               여
dtype: object

* 1-4 데이터프레임 만들기

In [14]:
dict_data = {'c0' : [1, 2, 3], 'c1' : [4, 5, 6], 'c2' : [7, 8, 9], 'c3' : [10, 11, 12], 'c4' : [13, 14, 15]}

df = pd.DataFrame(dict_data)

print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

* 1-5

In [18]:
df = pd.DataFrame([[15, '남','덕양중'], [17, '여', '수리중']],
                  index = ['준서', '예은'],
                  columns = ['나이', '성별', '학교'])

print(df)
print(df.index)
print(df.columns)
print("")

# 행 인덱스, 열 이름 변경
df.index = ['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']

print(df)
print(df.index)
print(df.columns)

    나이 성별   학교
준서  15  남  덕양중
예은  17  여  수리중
Index(['준서', '예은'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

     연령 남녀   소속
학생1  15  남  덕양중
학생2  17  여  수리중
Index(['학생1', '학생2'], dtype='object')
Index(['연령', '남녀', '소속'], dtype='object')

* 1-6

In [20]:
df = pd.DataFrame([[15, '남','덕양중'], [17, '여', '수리중']],
                  index = ['준서', '예은'],
                  columns = ['나이', '성별', '학교'])

print(df)
print("")

df.rename(columns = {'나이' : '연령', '성별' : '남녀', '학교' : '소속'}, inplace = True)
df.rename(index = {'준서' : '학생1', '예은' : '학생2'}, inplace = True)

print(df)

    나이 성별   학교
준서  15  남  덕양중
예은  17  여  수리중

     연령 남녀   소속
학생1  15  남  덕양중
학생2  17  여  수리중

* 1-7

In [24]:
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], '체육' : [100, 90, 90]}
             
df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print("")

# 데이터프레임 복제
df2 = df[:]
df2.drop('우현', inplace = True)
print(df2)
print("")

df3 = df[:]
df3.drop(['우현', '인아'], axis = 0, inplace = True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

    수학  영어  음악   체육
서준  90  98  85  100

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

* 1-8

In [25]:
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print("")

df4 = df[:]
df4.drop('수학', axis = 1, inplace = True)
print(df4)
print("")

df5 = df[:]
df5.drop(['영어', '음악'], axis = 1, inplace = True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

    수학   체육
서준  90  100
우현  80   90
인아  70   90

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

* 1 - 9 loc, iloc 인덱스 사용하기

In [28]:
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print("")

label1 = df.loc['서준']
position1 = df.iloc[0]
print(label1)
print("")
print(position1)
print("")

label2 = df.loc[['서준', '우현']]
position2 = df.iloc[[0, 1]]
print(label2)
print("")
print(position2)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

* 1 - 10

In [30]:
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70],
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print("")

# 수학 데이터만 선택 -> math1에 저장
math1 = df['수학']
print(math1)
print(type(math1))
print("")

english = df.영어
print(english)
print(type(english))
print("")

music_gym = df[['음악', '체육']]
print(music_gym)
print(type(music_gym))
print("")

math2 = df[['수학']]
print(math2)
print(type(math2))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>

0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>

0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>

   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

* 1 - 11

In [33]:
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70],
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)

# 이름을 새로운 인덱스로 지정, df객체에 변경사항 반영
df.set_index('이름', inplace = True)
print(df)
print('')

# df의 특정 원소 선택하기
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0, 2]
print(b)
print("")

# 시리즈
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2, 3]]
print(d)
e = df.loc['서준', '음악' : '체육']
print(e)
f = df.iloc[0, 2 : ]
print(f)
print("")

# 데이터프레임
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)
h = df.iloc[[0, 1], [2, 3]]
print(h)
i = df.loc['서준' : '우현', '음악' : '체육']
print(i)
j = df.iloc[0 : 2, 2 : ]
print(j)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

85
85

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

* 1 - 12

In [35]:
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70],
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print("")

# 국어 column추가, 값 = 80 지정
df['국어'] = 80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

* 1 - 13

In [36]:
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70],
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print("")

# 새로운 행 추가 - 같은 원소 값 입력
df.loc[3] = 0
print(df)
print("")

# 새로운 행 추가 - 다른 원소 값 입력
df.loc[4] = ['동규', 90, 80, 70, 60]
print(df)
print("")

# 새로운 행 추가 - 기존 행 복사
df.loc['행5'] = df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

* 1 - 14

In [38]:
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70],
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정
df.set_index('이름', inplace = True)
print(df)
print("")

# 특정 원소 변경 
df.iloc[0][3] = 90
print(df)
print("")

df.loc['서준']['체육'] = 90
print(df)
print("")

df.loc['서준', '체육'] = 100
print(df)
print("")

# 여러개의 원소 변경
df.loc['서준', ['음악', '체육']] = 50
print(df)
print("")

df.loc['서준', ['음악', '체육']] = 100, 50
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

* 1 - 15

In [39]:
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70],
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print("")

# df 전치하기 (transpose메소드)
df = df.transpose()
print(df)
print("")

# df 다시 전치하기 (클래스 속성 활용)
df = df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90