## Pandas 입문 (2)
#### 32200185 곽다은
### 예제 1-16 특정 열을 행 인덱스로 설정

In [8]:
# set_index() 메소드를 사용하여 행 인덱스를 새로 지정하면 기존 행 인덱스는 삭제됨
import pandas as pd

exam_data = {'이름' :['다은', '지원', '채영'],
            '수학' : [90, 80, 70],
            '영어' : [98, 89, 95],
            '음악' : [85, 95, 100],
            '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)

In [4]:
df

   이름  수학  영어   음악   체육
0  다은  90  98   85  100
1  지원  80  89   95   90
2  채영  70  95  100   90

In [5]:
ndf = df.set_index(['이름'])
print(ndf)
print("")

ndf2 = ndf.set_index(['음악'])
print(ndf2)
print("")

ndf3 = ndf.set_index(['수학', '음악'])
print(ndf3)

    수학  영어   음악   체육
이름
다은  90  98   85  100
지원  80  89   95   90
채영  70  95  100   90

     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90

        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

### 예제 1-17 인덱스 재지정, NaN값 처리

In [7]:
# 딕셔너리 정의
dict_data = {'c0' : [1, 2, 3], 'c1' : [4, 5, 6], 'c3' : [6, 5, 4], 'c4' : [5, 7, 4]}

# 딕셔너리를 데이터프레임으로 변환 -> 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index = ['r0', 'r1', 'r2'])
print(df)
print("")

# 인덱스를 [r0, r1, r2, r3, r4]로 재지정
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf)
print("")

# reindex로 발생한 NaN값을 숫자 0으로 채우기
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf2 = df.reindex(new_index, fill_value = 0)
print(ndf2)

    c0  c1  c3  c4
r0   1   4   6   5
r1   2   5   5   7
r2   3   6   4   4

     c0   c1   c3   c4
r0  1.0  4.0  6.0  5.0
r1  2.0  5.0  5.0  7.0
r2  3.0  6.0  4.0  4.0
r3  NaN  NaN  NaN  NaN
r4  NaN  NaN  NaN  NaN

    c0  c1  c3  c4
r0   1   4   6   5
r1   2   5   5   7
r2   3   6   4   4
r3   0   0   0   0
r4   0   0   0   0

### 예제 1-18 행 인덱스 초기화

In [9]:
# 딕셔너리 정의
dict_data = {'c0' : [1, 2, 3], 'c1' : [22, 33, 44], 'c3' : [6, 5, 4], 'c4' : [55, 77, 44]}

# 딕셔너리를 데이터프레임으로 변환 -> 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index = ['r0', 'r1', 'r2'])
print(df)
print("")

# 행 인덱스를 정수형으로 초기화
ndf = df.reset_index()
print(ndf)

    c0  c1  c3  c4
r0   1  22   6  55
r1   2  33   5  77
r2   3  44   4  44

  index  c0  c1  c3  c4
0    r0   1  22   6  55
1    r1   2  33   5  77
2    r2   3  44   4  44

### 예제 1-19 행 인덱스를 기준으로 데이터프레임 정렬
* sort_values()메소드 활용 -> 새롭게 정렬된 데이터프레임 반환

In [10]:
# 딕셔너리 정의
dict_data = {'c0' : [1, 2, 3], 'c1' : [22, 33, 44], 'c3' : [6, 5, 4], 'c4' : [55, 77, 44]}

# 딕셔너리를 데이터프레임으로 변환 -> 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index = ['r0', 'r1', 'r2'])
print(df)
print("")

# 내림차순으로 행 인덱스 정렬
# sort_values()메소드 활용 -> 새롭게 정렬된 데이터프레임 반환
ndf = df.sort_index(ascending = False)
print(ndf)

    c0  c1  c3  c4
r0   1  22   6  55
r1   2  33   5  77
r2   3  44   4  44

    c0  c1  c3  c4
r2   3  44   4  44
r1   2  33   5  77
r0   1  22   6  55

### 산술연산
* 판다스 객체의 산술연산은 내부적으로 3단계 프로세스를 거친다.
1. 행/열 인덱스를 기준으로 모든 원소를 정렬한다.
2. 동일한 위치에 있는 원소끼리 일대일로 대응시킨다.
3. 일대일 대응이 되는 원소끼리 연산을 처리한다

### 예제 1-21 시리즈 연산
* 시리즈 객체에 어떤 숫자를 더하면 시리즈의 개별 원소에 각각 숫자를 더하고 계산한 결과를 시리즈 객체로 반환한다.

In [11]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어' : 100, '영어' : 80, '수학' : 90})
print(student1)
print("")

# 학생의 과목별 점수를 200으로 나누기
percentage = student1 / 200

print(percentage)
print("")
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64

국어    0.50
영어    0.40
수학    0.45
dtype: float64

<class 'pandas.core.series.Series'>

### 예제 1-22 시리즈 연산

In [12]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어' : 100, '영어' : 80, '수학' : 90})
student2 = pd.Series({'국어' : 90, '영어' : 88, '수학' : 77})

print(student1)
print("")
print(student2)
print("")

# 두 학생의 과목별 점수로 사칙연산 수행
add = student1 + student2
sub = student1 - student2
mul = student1 * student2
div = student1 / student2
print(type(div))
print("")

# 사칙연산 결과를 데이터프레임으로 합치기(시리즈 -> 데이터프레임)
result = pd.DataFrame([add, sub, mul, div], 
                      index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어    100
영어     80
수학     90
dtype: int64

국어    90
영어    88
수학    77
dtype: int64

<class 'pandas.core.series.Series'>

              국어           영어           수학
덧셈    190.000000   168.000000   167.000000
뺄셈     10.000000    -8.000000    13.000000
곱셈   9000.000000  7040.000000  6930.000000
나눗셈     1.111111     0.909091     1.168831

### 예제 1-23 시리즈 연산

In [13]:
import numpy as np

student1 = pd.Series({'국어' : np.nan, '영어' : 80, '수학' : 90})
student2 = pd.Series({'수학' : 80, '국어' : 90})

print(student1)
print("")
print(student2)
print("")

# 두 학생의 과목별 점수로 사칙연산 수행 (시리즈 vs 시리즈)
add = student1 + student2
sub = student1 - student2
mul = student1 * student2
div = student1 / student2
print(type(div))
print("")

# 사칙연산 결과를 데이터프레임으로 합치기(시리즈 -> 데이터프레임)
result = pd.DataFrame([add, sub, mul, div], 
                      index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
dtype: int64

<class 'pandas.core.series.Series'>

     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

### 예제 1-24 연산메소드 활용

In [15]:
student1 = pd.Series({'국어' : np.nan, '영어' : 80, '수학' : 90})
student2 = pd.Series({'수학' : 80, '국어' : 90})

print(student1)
print("")
print(student2)
print("")

# 두 학생의 과목별 점수로 사칙연산 수행 (연산 메소드 사용)
sr_add = student1.add(student2, fill_value = 0)
sr_sub = student1.sub(student2, fill_value = 0)
sr_mul = student1.mul(student2, fill_value = 0)
sr_div = student1.div(student2, fill_value = 0)

# 사칙연산 결과를 데이터프레임으로 합치기(시리즈 -> 데이터프레임)
result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div],
                     index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
dtype: int64

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

### 예제 1-25 Seaborn 내장 데이터셋 사용

In [17]:
import seaborn as sns

# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
print(df.head())    # 첫 5행만 표시
print("")
print(type(df))
print("")

# 데이터프레임에 숫자 10 더하기
addition = df + 10
print(addition.head())
print("")
print(type(addition))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

<class 'pandas.core.frame.DataFrame'>

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

<class 'pandas.core.frame.DataFrame'>

### 예제 1-26 Seaborn 내장 데이터셋 사용

In [18]:
# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
print(df.tail())    # 마지막 5행만 표시
print("")
print(type(df))
print("")

# 데이터프레임에 숫자 10 더하기
addition = df + 10
print(addition.tail())
print("")
print(type(addition))
print("")

# 데이터프레임끼리 연산하기
subtraction = addition - df
print(subtraction.tail())
print("")
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75

<class 'pandas.core.frame.DataFrame'>

      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75

<class 'pandas.core.frame.DataFrame'>

      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

<class 'pandas.core.frame.DataFrame'>